<h1>Need Change?</h1>
<form action="/coins">
  <div class="form-group">
    <label for="title">Enter a cent total and get your coin combo!
    </label>
    <input id="sum" name="sum" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Go!</button>
</form>
